<!doctype html>
<html lang="en">
{{ template "header.tmpl.html" }}
<body>

<div class="wrapper">
    {{ template "sidebar.tmpl.html" . }}
 
	<div class="main-panel">
		{{ template "nav.tmpl.html" . }}

		<div class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<div class="card leaderboard">
							<div class="header">
								<div class="pull-right">
									{{ .RenderPagination }}
								</div>
								<h4 class="title">Leaderboard</h4>
								<p class="category">There Can Be Only One!</p>
							</div>
							<div class="content table-responsive table-full-width">
								<table class="table table-hover table-striped">
									<thead>
										<th>Rank</th>
										<th>Name</th>
										<th>Wins</th>
										<th>Losses</th>
										<th>Rank (Stars)</th>
										<th>Rating (ELO)</th>
									</thead>
									<tbody>
										{{ range $index, $element := .Data }}
										<tr>
											<td>{{ add $index 1 }}</td>
											<td><a href="/admin/users/edit?userId={{ $element.UserID.Hex }}">{{ $element.Name }}</a></td>
											<td>{{ $element.WinCount }}</td>
											<td>{{ $element.LossCount }}</td>
											<td>{{ $element.GetRankName }} ({{ $element.Rank }} Stars)</td>
											<td>{{ $element.Rating }}</td>
										</tr>
										{{ end }}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

        {{ template "footer.tmpl.html" . }}
    </div>
</div>

{{ template "scripts.tmpl.html" . }}
</body>

</html>