<!doctype html>
<html lang="en">
{{ template "header.tmpl.html" }}
<body>

<div class="wrapper">
    {{ template "sidebar.tmpl.html" . }}
 
	<div class="main-panel">
		{{ template "nav.tmpl.html" . }}

		<div class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<div class="card">
							<div class="header">
								<div class="pull-right">
									{{ .RenderPagination }}
								</div>
								<h4 class="title">Matches</h4>
								<p class="category">Fight!</p>
							</div>
							<div class="content table-responsive table-full-width">
								<table class="table table-hover table-striped">
									<thead>
										<th>Type</th>
										<th>State</th>
										<th>Host Player</th>
										<th>Guest Player</th>
										<th>Room</th>
										<th>Start Time</th>
										<th>End Time</th>
										<th>Outcome</th>
										<th></th>
									</thead>
									<tbody>
										{{ range $index, $match := .Data }}
										<tr>
											<td>{{ $match.GetTypeName }}</td>
											<td>{{ $match.GetStateName }}</td>
											<td>{{ getPlayerName $ $match.HostID }}</td>
											<td>{{ getPlayerName $ $match.OpponentID }}</td>
											<td>{{ $match.RoomID }}</td>
											<td>{{ shortTime $match.StartTime }}</td>
											<td>{{ shortTime $match.EndTime }}</td>
											<td>{{ $match.GetOutcomeName }} ({{ $match.HostScore }} : {{ $match.OpponentScore }})</td>
											<td>
												<a href="/admin/matches/edit?matchId={{ $match.ID.Hex }}">Edit</a> |
												<a href="/admin/matches/delete?matchId={{ $match.ID.Hex }}&page={{ $.GetPagination.GetPage }}">Delete</a>
											</td>
										</tr>
										{{ end }}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

        {{ template "footer.tmpl.html" . }}
    </div>
</div>

{{ template "scripts.tmpl.html" . }}
</body>

</html>