<div class="sidebar" data-color="blue" data-image="/static/img/sidebar-5.jpg">
	<div class="sidebar-wrapper">
		<div class="logo">
			<a href="/admin" class="simple-text">
				Section Admin
			</a>
		</div>

		<ul class="nav">
			{{ $links := .Params.Get "links" }}
			{{ if $links }}
				{{ range $index, $element := $links }}
					{{ if $element.Active }}
						<li class="active">
					{{ else }}
						<li>
					{{ end }}
						<a href="{{ $element.URL }}">
							<i class="{{ $element.Icon }}"></i>
							<p>{{ $element.Name }}</p>
						</a>
					</li>
				{{ end }}
			{{ end }}
		</ul>
	</div>
</div>
