<!doctype html>
<html lang="en">
{{ template "header.tmpl.html" . }}
<body>

<div class="wrapper">
	{{ template "sidebar.tmpl.html" . }}
 
	<div class="main-panel">
		{{ template "nav.tmpl.html" . }}

		<div class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<div class="card">
							{{ $user := .Params.Get "user" }}
							{{ $player := .Params.Get "player" }}

							{{ if not $user }}
								<div class="header">
									<h4 class="title">No Player Found!</h4>
									<p class="category">Missing userId parameter?</p>
								</div>
							{{ else }}
								<div class="header">
									<h4 class="title">Player Properties</h4>
									<p class="category">Modify with care!</p>
								</div>
								<div class="content">
									<form method="post">
										<input type="hidden" name="userId" value="{{ $user.ID.Hex }}">
										<div class="row">
											<div class="col-md-4">
												<div class="form-group">
													<label>Username</label>
													<input type="text" class="form-control" disabled value="{{ $user.Username }}">
												</div>
											</div>
											<div class="col-md-4">
												<div class="form-group">
													<label>Display Name</label>
													<input type="text" class="form-control" name="name" value="{{ getUserPlayerName $ $user.ID }}">
												</div>
											</div>
											<div class="col-md-4">
												<div class="form-group">
													<label>Email Address</label>
													<input type="email" class="form-control" name="email" value="{{ $user.Email }}">
												</div>
											</div>
										</div>

										<div class="row">
											<div class="col-md-3">
												<div class="form-group">
													<label>User ID</label>
													<input type="text" class="form-control" disabled value="{{ $user.ID.Hex }}">
												</div>
											</div>
											<div class="col-md-3">
												<div class="form-group">
													<label>Admin</label>
													<input type="text" class="form-control" disabled value="{{ $user.Admin }}">
												</div>
											</div>
											<div class="col-md-3">
												<div class="form-group">
													<label>Joined</label>
													<input type="text" class="form-control" disabled value="{{ $user.Inserted }}">
												</div>
											</div>
											<div class="col-md-3">
												<div class="form-group">
													<label>Last Login</label>
													<input type="text" class="form-control" disabled value="{{ $user.Login }}">
												</div>
											</div>
										</div>

										{{ if $player }}
											<div class="row">
												<div class="col-md-4">
													<div class="form-group">
														<label>Player Level</label>
														<input type="text" class="form-control" placeholder="0" name="level" value="{{ $player.Level }}">
													</div>
												</div>
												<div class="col-md-4">
													<div class="form-group">
														<label>Player Rating (Elo)</label>
														<input type="text" class="form-control" placeholder="0" name="rating" value="{{ $player.Rating }}">
													</div>
												</div>
												<div class="col-md-4">
													<div class="form-group">
														<label>Player Rank (Stars)</label>
														<input type="text" class="form-control" placeholder="0" name="rankPoints" value="{{ $player.RankPoints }}">
													</div>
												</div>
											</div>

											<div class="row">
												<div class="col-md-4">
													<div class="form-group">
														<label>Wins</label>
														<input type="text" class="form-control" placeholder="0" name="winCount" value="{{ $player.WinCount }}">
													</div>
												</div>
												<div class="col-md-4">
													<div class="form-group">
														<label>Losses</label>
														<input type="text" class="form-control" placeholder="0" name="lossCount" value="{{ $player.LossCount }}">
													</div>
												</div>
												<div class="col-md-4">
													<div class="form-group">
														<label>Total Matches</label>
														<input type="text" class="form-control" placeholder="0" name="matchCount" value="{{ $player.MatchCount }}">
													</div>
												</div>
											</div>

											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<label>Standard Currency</label>
														<input type="text" class="form-control" placeholder="0" name="standardCurrency" value="{{ $player.StandardCurrency }}">
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group">
														<label>Premium Currency</label>
														<input type="text" class="form-control" placeholder="0" name="premiumCurrency" value="{{ $player.PremiumCurrency }}">
													</div>
												</div>
											</div>
										{{ end }}

										<div class="pull-right">
											<button type="submit" class="btn btn-info btn-fill">Update Player</button>
											<a href="#" class="btn btn-danger"
												data-href="/admin/users/reset?userId={{ $user.ID.Hex }}"
												data-toggle="modal"
												data-body="Do you want to reset the user: {{ $user.Username }}?"
												data-confirm="Reset"
												data-deny="Cancel"
												data-target="#confirm-dialog">Reset Player</a>
										</div>
										<div class="clearfix"></div>
									</form>
								</div>

								{{ if $player }}
									<hr/>

									<div class="header">
										<h4 class="title">Card Collection</h4>
										<p class="category">All cards in a player's collection</p>
									</div>
									<div class="content">
										{{ range $index, $card := $player.Cards }}
											{{ $.Params.Set "index" $index }}
											{{ template "card.tmpl.html" $ }}
										{{ end }}
									</div>

									<hr/>

									<div class="header">
										<h4 class="title">Tomes</h4>
										<p class="category">All cards in a player's inventory</p>
									</div>
									<div class="content">
										{{ range $index, $tome := $player.Tomes }}
											{{ $.Params.Set "index" $index }}
											{{ template "tome.tmpl.html" $ }}
										{{ end }}
									</div>
								{{ end }}
							{{ end }}
						</div>
					</div>
				</div>
			</div>
		</div>

		{{ template "footer.tmpl.html" . }}
	</div>
</div>

{{ template "scripts.tmpl.html" . }}
</body>

</html>