<!doctype html>
<html lang="en">
{{ template "header.tmpl.html" }}
<body>

<div class="wrapper">
	{{ template "sidebar.tmpl.html" . }}
 
	<div class="main-panel">
		{{ template "nav.tmpl.html" . }}

		<div class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<div class="card">
							<div class="header">
								<div class="pull-right">
									<form class="form-inline" role="search">
										<div class="input-group">
											<input class="form-control" placeholder="Search" name="search" id="search" type="text">
											<span class="input-group-btn">
												<button class="btn btn-default" type="submit">
													<i class="fa fa-search"></i>
												</button>
											</span>
										</div>
									</form>

									{{ .RenderPagination }}
								</div>
								<h4 class="title">Players</h4>
								<p class="category">The more the merrier (<a href="/admin/users/reset">Reset Players!</a>)</p>
							</div>
							<div class="content table-responsive table-full-width">
								<table class="table table-hover table-striped">
									<thead>
										<th>Device</th>
										<th>Name</th>
										<th>Player Tag</th>
										<th>Last Login</th>
										<th></th>
									</thead>
									<tbody>
										{{ range $index, $user := .Data }}
										<tr>
											<td>{{ $user.Username }}</td>
											<td>{{ getUserName $ $user.ID }}</td>
											<td>{{ $user.Tag }}</td>
											<td>{{ shortTime $user.LoginTime }}</td>
											<td>
												<a href="/admin/users/edit?userId={{ $user.ID.Hex }}">Edit</a> |
												<a href="#"
												data-href="/admin/users/delete?userId={{ $user.ID.Hex }}&page={{ $.GetPagination.GetPage }}"
												data-toggle="modal"
												data-body="Do you want to permanently delete the user: {{ $user.Username }}?"
												data-confirm="Delete"
												data-deny="Cancel"
												data-target="#confirm-dialog">Delete</a>
											</td>
										</tr>
										{{ end }}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		{{ template "footer.tmpl.html" . }}
	</div>
</div>

{{ template "scripts.tmpl.html" . }}
</body>

</html>